<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/community"></ion-back-button>
    </ion-buttons>

    <ion-title>Frage hinzufügen</ion-title>

  </ion-toolbar>

</ion-header>
 
<ion-content>
  
  
  <div class="content">

    <h2>Stelle eine Frage</h2>
    
    <ion-toolbar>

    <ion-button  (click)="selectImage()">
      Foto hinzufügen
    </ion-button>
    <img
     *ngIf="selectedImage"
     [src]="selectedImage"
     class="preview-image">
    
  </ion-toolbar>

    <ion-item class="input-box">

      <ion-input
        label="Titel"
        labelPlacement="stacked"
        placeholder="Gib einen Titel ein">
      </ion-input>

    </ion-item>

    <ion-item class="input-box">

      <ion-textarea
        label="Beschreibung"
        labelPlacement="stacked"
        placeholder="Beschreibe dein Problem..."
        rows="6">
      </ion-textarea>

    </ion-item>

    <ion-button expand="block">
      Frage veröffentlichen
    </ion-button>

  </div>

</ion-content>