<ion-header>
  <ion-toolbar>
    <ion-title>Community</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged()">
      <ion-segment-button value="fragen">
        <ion-label>Fragen</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tipps">
        <ion-label>Tipps</ion-label>
      </ion-segment-button>
      <ion-segment-button value="lexikon">
        <ion-label>Lexikon</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="selectedSegment === 'fragen'" expand="block" (click)="newPost()">
    + Frage hinzufügen
  </ion-button>
  <ion-button *ngIf="selectedSegment === 'tipps'" expand="block" (click)="newTip()">
    + Tipp hinzufügen
  </ion-button>
  <ng-container *ngIf="selectedSegment !== 'lexikon'">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="6" size-xl="6" *ngFor="let post of posts">
          <ion-card>
            <ion-card-content>
              <div class="image">
                <img [src]="post.image">
              </div>
              <h2>{{ post.title }}</h2>
              <p>
                <ion-icon name="person"></ion-icon>
                {{ post.user }}
              </p>
              <ion-button *ngIf="selectedSegment === 'fragen'" fill="clear" (click)="openQuestion(post.id)">
                <ion-icon slot="start" name="chatbubble"></ion-icon>
                {{post.answers.length}} Antworten
              </ion-button>
              <ion-button *ngIf="selectedSegment === 'fragen' && post.user === savingProfile.greenCare().name"
                fill="clear" color="danger" (click)="deleteQ(post.id)">
                Löschen
                <ion-icon slot="start" name="trash"></ion-icon>
              </ion-button>
              <ion-button *ngIf="selectedSegment === 'tipps'" fill="clear" (click)="openTip(post.id)">
                <ion-icon name="heart-outline"></ion-icon>
                {{ post.likes }} Likes
              </ion-button>
              <ion-button *ngIf="selectedSegment === 'tipps' && post.user === savingProfile.greenCare().name"
                fill="clear" color="danger" (click)="deleteT(post.id)">
                Löschen
                <ion-icon slot="start" name="trash"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ng-container *ngIf="selectedSegment === 'lexikon'">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="6" size-xl="6" *ngFor="let plant of plants">
          <ion-card (click)="openLexicon(plant.id)">
            <ion-card-content>
              <div class="image">
                <img [src]="plant.image_url">
              </div>
              <h2>{{ plant.common_name }}</h2>
              <p><i>{{ plant.scientific_name }}</i></p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>