<ion-header>
    <ion-toolbar>
        <ion-title>Community</ion-title>
    </ion-toolbar>

    <ion-toolbar>

        <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="fragen">
                <ion-label>Fragen</ion-label>
            </ion-segment-button>
            <ion-segment-button value="tipps">
                <ion-label>Tipps</ion-label>
            </ion-segment-button>
             <ion-segment-button value="lexikon">
                <ion-label>Lexikon</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content> 
    <ion-button
    expand="block"
    (click)="newPost()">
   
    + Neue Frage
    </ion-button>

 <ion-card *ngFor="let post of posts">
    <ion-card-content>
        <img [src]="post.image">
        <h2>{{ post.title }}</h2>
       <ion-icon name="person-ouline"></ion-icon>
        <p *ngIf="selectedSegment === 'fragen'">
          <ion-icon name="chatbubble-outline" ></ion-icon>
        </p>
        <p *ngIf="selectedSegment === 'tipps'">
             <ion-icon name="heart-outline"></ion-icon>
        </p>
    </ion-card-content>
    </ion-card>
</ion-content>
