<ion-header>
    <ion-toolbar>
        <ion-title>Kalender</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-datetime [highlightedDates]="showDates" value={{date}} [formatOptions]="{
                time: { hour: '2-digit', minute: '2-digit' },
                date: { day: '2-digit', month: 'long' }, }">

                <span slot="title">Wähle eine Zeit</span>

            </ion-datetime>

        </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let task of taskService.task">
        <ion-card-header>
            <ion-card-title>
                <h1> {{task.date | date:'dd.MM.yyyy HH:mm'}} </h1>
                <h2> {{task.name}} || {{ task.description }} </h2>
            </ion-card-title>

        </ion-card-header>


        <ion-card-content>

            <p>{{task.text}}</p>

        </ion-card-content>


        <ion-button fill="clear" color="danger" (click)="delete(task)" Delete> Löschen
            <ion-icon slot="start" name="trash-outline">
            </ion-icon>
        </ion-button>

    </ion-card>


</ion-content>