<ion-header>
    <ion-toolbar>
        <ion-title>Profil</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="11" size-md="10" size-lg="9" size-xl="8">

                <ion-card>
                    <ion-item>
                        <ion-avatar aria-hidden="true" slot="start">

                            @if (greenCare().image) {
                            <img alt="GreenCare" [src]="greenCare().image" />
                            } @else {
                            <img alt="avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                            }
                        </ion-avatar>

                        <ion-label>
                            <h1>{{greenCare().name}}</h1>
                            <h2>{{greenCare().description}}</h2>
                            <p>Beigetreten am {{greenCare().date| date: 'dd/MM/yyyy'}}</p>
                        </ion-label>
                    </ion-item>


                    <ion-row class="ion-padding-top">

                        <ion-col size="4" class="ion-text-center">
                            <h2>12</h2>
                            <p>Einsätze</p>
                        </ion-col>

                        <ion-col size="4" class="ion-text-center">
                            <h2>8</h2>
                            <p>Standorte</p>
                        </ion-col>

                        <ion-col size="4" class="ion-text-center">
                            <h2>24</h2>
                            <p>Beiträge</p>
                        </ion-col>

                    </ion-row>

                    <ion-row class="ion-text-center">

                        <ion-col size="6" size-md="3">
                            <ion-button expand="block" fill="clear" routerLink="/tabs/calendar">
                                <ion-icon slot="start" name="calendar"></ion-icon>
                                <ion-text>Meine Einsätze</ion-text>
                            </ion-button>
                        </ion-col>

                        <ion-col size="6" size-md="3">
                            <ion-button expand="block" fill="clear" routerLink="/tabs/map">
                                <ion-icon slot="start" name="location"></ion-icon>
                                <ion-text>Meine Standorte</ion-text>
                            </ion-button>
                        </ion-col>

                        <ion-col size="6" size-md="3">
                            <ion-button expand="block" fill="clear">
                                <ion-icon slot="start" name="heart"></ion-icon>
                                <ion-text>Gemerkte Orte</ion-text>
                            </ion-button>
                        </ion-col>

                        <ion-col size="6" size-md="3">
                            <ion-button id="settings-modal" expand="block" fill="clear"
                                (click)="name = greenCare().name; description = greenCare().description; image = greenCare().image">
                                <ion-icon slot="start" name="settings"></ion-icon>
                                <ion-text>Bearbeiten</ion-text>
                            </ion-button>
                        </ion-col>

                    </ion-row>


                </ion-card>

            </ion-col>
        </ion-row>

    </ion-grid>



    <ion-modal trigger="settings-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>

            <ion-header>
                <ion-toolbar>
                    <ion-title>Einstellungen</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-content class="ion-padding">
                @if(image) {
                <img [src]="image" alt="StreetArt" style="width: 100%;" />
                }
                <ion-button fill="clear" (click)="takePicture()">Foto hinzufügen</ion-button>
                <ion-item>
                    <ion-input label="Name" labelPlacement="stacked" type="text" placeholder="Dein Name"
                        [(ngModel)]="name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input label="Beschreibung" labelPlacement="stacked" type="text"
                        placeholder="Deine Beschreibung" [(ngModel)]="description"></ion-input>
                </ion-item>

            </ion-content>

            <ion-toolbar>
                <ion-button color="danger" slot="start" fill="clear" (click)="cancel()">Abbrechen</ion-button>
                <ion-button color="success" slot="end" fill="clear" (click)="confirm()"
                    [strong]="true">Bestätigen</ion-button>
            </ion-toolbar>

        </ng-template>
    </ion-modal>


</ion-content>