<ion-header>
    <ion-toolbar>
        <ion-title>Profil</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="11" size-md="10" size-lg="9" size-xl="8">

                <ion-card>
                    <ion-item>
                        <ion-avatar aria-hidden="true" slot="start">
                            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                        </ion-avatar>

                        <ion-label>
                            <h1>Name</h1>
                            <p>Beschreibung</p>
                            <p>Beigetreten am</p>
                        </ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-card-content>
                            <h1>Zahl</h1>
                            <p>Einsätze</p>
                        </ion-card-content>

                        <ion-card-content>
                            <h1>Zahl</h1>
                            <p>Standorte</p>
                        </ion-card-content>

                        <ion-card-content>
                            <h1>Zahl</h1>
                            <p>Beiträge</p>
                        </ion-card-content>

                    </ion-item>


                    <ion-item>
                        <ion-icon name="calendar"></ion-icon>
                        Meine Einsätze
                    </ion-item>
                    <ion-item>
                        <ion-icon name="location"></ion-icon>
                        Meine Standorte
                    </ion-item>
                    <ion-item>
                        <ion-icon name="heart"></ion-icon>
                        Gemerkte Standorte
                    </ion-item>
                    <ion-item>
                        <ion-icon name="settings"></ion-icon>
                        Einstellungen
                    </ion-item>

                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>