<ion-header>
    <ion-toolbar>
        <ion-title>Profil</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="11" size-md="10" size-lg="9" size-xl="8">

                <ion-card>
                    <ion-item>
                        <ion-avatar aria-hidden="true" slot="start">
                            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                        </ion-avatar>

                        <ion-label>
                            <h1>Name</h1>
                            <h2>Beschreibung</h2>
                            <p>Beigetreten am xx.xx.xx</p>
                        </ion-label>
                    </ion-item>

                    <ion-grid>
                        <ion-row>

                            <ion-col size="4" class="ion-text-center">
                                <h2>12</h2>
                                <p>Einsätze</p>
                            </ion-col>

                            <ion-col size="4" class="ion-text-center">
                                <h2>8</h2>
                                <p>Standorte</p>
                            </ion-col>

                            <ion-col size="4" class="ion-text-center">
                                <h2>24</h2>
                                <p>Beiträge</p>
                            </ion-col>

                        </ion-row>
                    </ion-grid>


                    <ion-item>
                        <ion-icon name="calendar"></ion-icon>
                        <ion-text> Meine Einsätze</ion-text>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="location"></ion-icon>
                        <ion-text> Meine Standorte</ion-text>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="heart" color="success"></ion-icon>
                        <ion-text> Gemerkte Standorte</ion-text>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="settings"></ion-icon>
                        <ion-text> Einstellungen</ion-text>
                    </ion-item>

                </ion-card>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>