<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/explore"></ion-back-button>
    </ion-buttons>
    <ion-title>Pflanze</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <div *ngIf="plant">

        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="8" size-lg="6">
            <div class="plant-image">
              <img [src]="plant.image">
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-md="8" size-lg="6">

            <h1>{{ plant.name }}</h1>

            <p>{{ plant.description }}</p>
            <p>{{ plant.distance }}</p>

            <h1>Aufgabe</h1>
            <p>{{ plant.task }}</p>
            <p>Noch {{ plant.peopleNeeded }} Helfer benötigt.</p>

            <h1>Pflege</h1>
            <p><b>Wasser:</b> {{ plant.watering }}</p>
            <p><b>Standort:</b> {{ plant.sunlight }}</p>
            <p><b>Pflanzenarten:</b> {{ plant.flowers }}</p>
            <p><b>Schwierigkeitsgrad:</b> {{ plant.difficulty }}</p>

            <h1>Beschreibung</h1>
            <p>{{ plant.text }}</p>

            <ion-button expand="block" (click)="addFavorite()">
              <ion-icon slot="start" [name]="plant.isFavorite ? 'heart' : 'heart-outline'">
              </ion-icon>

              {{ plant.isFavorite
              ? 'Aus Favoriten entfernen'
              : 'Zu Favoriten hinzufügen' }}
            </ion-button>

            <ng-container *ngIf="!plant.isHelping">

              <ion-button id="calendar-modal" expand="block">
                Mithelfen
              </ion-button>

              <ion-modal trigger="calendar-modal" (willDismiss)="onWillDismiss($event)">

                <ng-template>

                  <ion-header>
                    <ion-toolbar>
                      <ion-title>Wähle den Tag</ion-title>
                    </ion-toolbar>
                  </ion-header>

                  <ion-content>

                    <ion-card class="calendar-card">
                      <ion-card-content>

                        <ion-datetime [(ngModel)]="chosenDate" [highlightedDates]="showDates">

                          <span slot="title">
                            Wähle einen Tag
                          </span>

                        </ion-datetime>

                      </ion-card-content>
                    </ion-card>

                    <ion-toolbar>

                      <ion-button color="danger" slot="start" fill="clear" (click)="cancel()">
                        Abbrechen
                      </ion-button>

                      <ion-button color="success" slot="end" fill="clear" (click)="confirm()" [strong]="true">
                        Bestätigen
                      </ion-button>

                    </ion-toolbar>

                  </ion-content>

                </ng-template>

              </ion-modal>

            </ng-container>

            <ion-button expand="block" (click)="showOnMap()">
              Auf Karte anzeigen
            </ion-button>

            <ion-button *ngIf="plant.isHelping" expand="block" color="danger" (click)="stopHelping()">
              Hilfe zurückziehen
            </ion-button>

          </ion-col>
        </ion-row>

      </div>

    </ion-card-content>
  </ion-card>
</ion-content>