<ion-header>
  <ion-toolbar>
    <ion-title>Entdecken</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="vorgeschlagen">
      <ion-segment-button value="vorgeschlagen">
        <ion-label>Vorgeschlagen</ion-label>
      </ion-segment-button>

      <ion-segment-button value="naehe">
        <ion-label>In deiner Nähe</ion-label>
      </ion-segment-button>

      <ion-segment-button value="neu">
        <ion-label>Neu</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>

      <h2>Park am See</h2>

      <p>Blumenbeet am Weg</p>

      <p>Benötigt noch 2 Personen</p>

      <p>Gießen</p>

    </ion-card-content>

  </ion-card>

</ion-content>