<ion-header>

  <ion-toolbar>

    <ion-title>Entdecken</ion-title>

  </ion-toolbar>

  <ion-toolbar>

    <ion-segment
      [(ngModel)]="selectedSegment"
      (ionChange)="segmentChanged($event)">

      <ion-segment-button value="vorgeschlagen">

        <ion-label>Vorgeschlagen</ion-label>

      </ion-segment-button>

      <ion-segment-button value="naehe">

        <ion-label>In deiner Nähe</ion-label>

      </ion-segment-button>

      <ion-segment-button value="neu">

        <ion-label>Neu</ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-card
    *ngFor="let plant of plants"
    (click)="openPlant(plant)">

    <ion-card-content>

      <div class="card">

       <div class="image">
        <img [src]="plant.image" alt="Pflanze">
       </div>
        <div class="info">

          <h2>{{plant.name}}</h2>

          <p>{{plant.description}}</p>

          <p>Benötigt noch {{plant.peopleNeeded}} Personen</p>

          <p class="green">{{plant.task}}</p>

          <div class="persons">

            <ion-icon name="person"></ion-icon>
            <ion-icon name="person"></ion-icon>

          </div>

        </div>

        <div class="distance">

          {{plant.distance}}

        </div>

      </div>

    </ion-card-content>

  </ion-card>

</ion-content>