<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/community"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let plant of exploreService.favorites">
    <img [src]="plant.image">
    <ion-card-content>
      <h2>{{ plant.name }}</h2>
      <p>{{ plant.description }}</p>
    </ion-card-content>
    <ion-button fill="clear" color="danger" (click)="delete(plant)" Delete> Löschen
      <ion-icon slot="start" name="trash-outline">
      </ion-icon>
    </ion-button>
  </ion-card>
</ion-content>