<ion-content>

  <ion-card class="tip-card">

    <img 
      [src]="tip.image"
      class="tip-image">

    <ion-card-content>

      <h1>
        {{tip.title}}
      </h1>

      <p>
        {{tip.description}}
      </p>

    </ion-card-content>

  </ion-card>


  <!-- Antworten -->
  <h2 class="answer-title">
    Antworten
  </h2>


  <ion-card 
    class="answer-card"
    *ngFor="let answer of tip.answers">

    <ion-card-content>

      <h3>
        {{tip.user}}
      </h3>

      <p>
        {{tip.text}}
      </p>

    </ion-card-content>

  </ion-card>



  <ion-card class="write-card">

    <ion-textarea
      [(ngModel)]="newAnswer"
      placeholder="Antwort schreiben..."
      autoGrow="true">
    </ion-textarea>


    <ion-button
      expand="block"
      (click)="sendAnswer()">

      Antwort senden

    </ion-button>

  </ion-card>


</ion-content>